@page
@model ForgotPasswordConfirmation


@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/login.css">
}
<div class="row">
<h1>Success!</h1>
<p>
    Please check your email to reset your password.
</p>

<a asp-area="Identity" asp-page="/Account/Manage/Index">Click here to navigate back to login</a>
</div>