@model IEnumerable<UserRolesViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/admin.css">
}

<div class="row">
    <h1>Admin Dashboard</h1>
<iframe title="IntexII" width="800" height="636" src="https://app.powerbi.com/view?r=eyJrIjoiNGM3ZGMwNjQtNDFmNy00MDQ5LTlhNzAtYjMxN2RjMDdhZDJjIiwidCI6ImNlZDQ1MmVhLTExNDktNDMyOS05YjE5LWVhNjc4MzI5ZGU3OSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>    </div>