<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex_II</title>
    <link rel="shortcut icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74c768f0cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Intex_II.styles.css" asp-append-version="true" />
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script type="text/javascript">
            $(window).on('scroll',function(){
                if($(window).scrollTop()){
                    $('nav').addClass('black');
                }
                else{
                    $('nav').removeClass('black');
                }
            })
            </script>
</head>
<body>
    <header>
        <nav>
            <div class="left-nav-elements">
                <img src="imgs/whitelogo.png" height="50px" alt="Lego Brick Logo">
                <a href="#">Shop</a>
                <a href="#">Discover</a>
                <a href="#">About</a>
            </div>
            <div class="right-nav-elements">
              <a><img src="imgs/lego.png" height="30px"></a>
              <a><img src="imgs/whitesearch.png" height="30px"></a>
              <a><img src="imgs/whitecart.png" height="27px"></a> 
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer>
    <div class="flex-grid">
        <div class="col">
            <div class="subscription-form">
                <p>Subscribe for all things Aurora Lego</p>
                <form action="your-server-side-handler">
                    <input type="email" id="email" name="email" placeholder="Email Address" required>
                    <button type="submit">&#10140;</button> <!-- Unicode arrow symbol -->
                </form>
            </div>
            <div class="socials">
                <ul class="socialList">
                    <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href=""> <i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    
                </ul>
            </div>
          
        </div>
        <div class="col">
            <ul class="aboutList">
                <h4>About Us</h4>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="helpList">
                <h4>Get Help</h4>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
            </ul>
        </div>
    </div>
    <div class="privacy-info">
        <p>Here is some privacy info</p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
