<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex_II</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
     
</head>
<body>
    <header>
         <nav>
            <div class="left-nav-elements">
                <a asp-controller="Home" asp-action="Index"><img src="/imgs/logo.png" height="50px" alt="Lego Brick Logo"></a>
                <a asp-controller="Home" asp-action="Products" style="color:black;">Shop</a>
                <a href="#" style="color:black;">Discover</a>
                <a asp-controller="Home" asp-action="About" style="color:black;">About</a>
            </div>
            <div class="right-nav-elements">
              <a asp-controller="Home" asp-action="Dashboard"><img src="/imgs/lego.png" height="30px"></a>
              <a ><img src="/imgs/search.png" height="30px"></a>
              <a asp-action="Cart" asp-controller="Home"><img src="/imgs/cart.png" height="27px"></a>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:100px">
    
            @RenderBody()

    </div>

<footer>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
