:root {
  --primary-color: #ff4500;
  --secondary-color: #333;
  --padding: 1rem;
  --border-radius: 5px;
  --size-of-hero:75vh;
}

h1 {
  color:green;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.glass-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8080802e;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 30px;
  button{
    background-color: #3b3b88;
    border: none;
    transition: background-color .3s ease-in-out;
    &:hover{
      background-color: #f1863a;
    }
  }
 
  a {
    background-color: #3b3b88;
    border: none;

  }
}
.nav-link{
  color: #3b3b88 !important;
  transition: color .3s ease-in-out;
}
.nav-link:hover{
 color: #f1863a !important;
}
.active {
  background-color: #3b3b88 !important;
  color:white !important;
}
#name-on-profile {
  font-weight: bolder;
}

#email-verification {
  color:white;
  text-decoration: none;
  margin-top: 10px;
}
#manage{
  font-size: x-large;
  text-align: center;
  padding: 0px;
  margin: 0;
}

button {
  border-radius: 10px;
  border: none;
  background-color: #f1863a;
  padding: 10px;
  color:white;
  transition: background-color .3s ease-in-out;
}
button:hover {
  background-color: red;
  color:white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  a {
    background-color: transparent;
  }
}