@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top:100px;">
    <h1>About</h1>
    <p>Welcome to my world of bricks and imagination! I'm thrilled to welcome you to my corner of the internet, where my passion for Lego transcends the screen. As a young, female influencer on TikTok, my journey with Lego began as a childhood fascination that evolved into a creative outlet. From constructing towering skyscrapers to reimagining beloved movie scenes, each Lego set became a canvas for my boundless imagination. Little did I know that sharing snippets of my Lego adventures on TikTok would ignite a vibrant community of fellow brick enthusiasts.

    My path to becoming a Lego influencer wasn't without its twists and turns. What started as a hobby blossomed into a full-fledged passion project, as I immersed myself in the world of content creation. Through trial and error, I honed my skills in videography and storytelling, weaving narratives that captured the hearts of millions. With each video, I sought to inspire creativity and spark joy in others, one brick at a time. It wasn't long before my TikTok channel became a hub for Lego aficionados, eager to embark on whimsical journeys alongside me.

    Now, I'm delighted to invite you to explore my online store, where you can bring a piece of my Lego world into your own home. From classic sets to limited editions, each product has been carefully curated to reflect the magic and wonder of Lego. Whether you're a seasoned builder or just starting your journey, there's something here for everyone. Thank you for joining me on this adventure—I can't wait to see where our imaginations take us next!
    </p>
</div>