@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Customer

<br />
<br />
<br />
<form method="post">
    <div>
        <input type="hidden" asp-for="CustomerId" />
    </div>
    <div>
        <label asp-for="CustomerFname">First Name:</label>
        <input type="text" asp-for="CustomerFname" required>
    </div>
    <div>
        <label asp-for="CustomerLname">Last Name:</label>
        <input type="text" asp-for="CustomerLname" required>
    </div>
    <div>
        <label asp-for="BirthDate">Birthday:</label>
        <input type="date" asp-for="BirthDate">
    </div>
    <div>
        <label asp-for="CustomerCountry">Home Country:</label>
        <input type="text" asp-for="CustomerCountry" >
    </div>
    <div>
        <label asp-for="CustomerGender">Gender:</label>
        <select asp-for="CustomerGender">
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="O">Other</option>
        </select>
    </div>
    <div>
        <label asp-for="CustomerAge">Age:</label>
        <input type="number" asp-for="CustomerAge">
    </div>
    <div>
        <input type="hidden" asp-for="CustomerEmail">
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>
</form>