@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/admin.css">
}
<div class="full-page">
<div class="row">
    <h3 style="text-align: center">Are you sure you want to delete <span style="font-weight: bold">@Model.ProductName</span> from your list of products?</h3>
    <form class="btn-class" method="post">
        <input type="hidden" asp-for="ProductId" />
        <button type="submit" class="delete-btn">Delete</button>
        <a asp-controller="Home" asp-action="AdminProducts" class="cancel-btn">Cancel</a>
    </form>
</div>
</div>