@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/community.css">
}



<div class="main-thread">
    <div class="new-post">
        <div class="profile-pic">
            <img src="/imgs/lego.png" alt="profile picture"/>
        </div>
        <div class="post-body">
            <input type="text" placeholder="Post a message..."/>
        </div>
        <div class="post-btn">
            <button>Post</button>
        </div>
    </div>
    
    <div class="thread-card">
        <div class="main-info">
            <div class="profile-pic">
                <img src="/imgs/lego.png" alt="profile picture"/>
            </div>
            <div class="profile-and-post">
                <div class="top-row">
                    <h3>BrickBuilder101</h3>
                    <p>3m</p>
                </div>
                <h5>Hello from a New Enthusiast!</h5>
                <p>Hi everyone! I'm new here but have been building with LEGO since I was a kid. I just finished my latest project, the LEGO Creator Expert Roller Coaster, and it was a blast! I’m looking forward to sharing tips with all of you and getting some inspiration for my next big build. What was the first complex set you ever built?</p>
            <img src="/imgs/rollercoaster.png" height="300px"/>
                </div>
        </div>
        <div class="symbols">
            <a><i class="fa-solid fa-heart"></i></a>  
            <a><i class="fa-solid fa-comment"></i></a>
            <a><i class="fa-solid fa-share"></i></a>
            <a><i class="fa-solid fa-paper-plane"></i></a> 
        </div>
    </div>
    
    <div class="thread-card">
        <div class="main-info">
            <div class="profile-pic">
                <img src="/imgs/lego.png" alt="profile picture"/>
            </div>
            <div class="profile-and-post">
                <div class="top-row">
                    <h3>MasterArchitect</h3>
                    <p>5h</p>
                </div>
                <h5>Monthly Challenge: Architectural Wonders</h5>
                <p>This month, I’m challenging everyone to create their favorite architectural wonder using LEGO. It could be anything from the Eiffel Tower to your own dream skyscraper. I’ve started with a mini-model of the Sydney Opera House and can’t wait to see what you come up with. Let's share progress photos and support each other’s creativity!</p>
            </div>
        </div>
        <div class="symbols">
            <a><i class="fa-solid fa-heart"></i></a>  
            <a><i class="fa-solid fa-comment"></i></a>
            <a><i class="fa-solid fa-share"></i></a>
            <a><i class="fa-solid fa-paper-plane"></i></a> 
        </div>
    </div>
    
    <div class="thread-card">
        <div class="main-info">
            <div class="profile-pic">
                <img src="/imgs/lego.png" alt="profile picture"/>
            </div>
            <div class="profile-and-post">
                <div class="top-row">
                    <h3>PieceByPiece</h3>
                    <p>6h</p>
                </div>
                <h5>Best Techniques for a Sturdy Build</h5>
                <p>Hey everyone, I wanted to share some techniques I’ve learned over the years for making structures more stable, especially for tall buildings. <a>I’ve found that interlocking bricks diagonally can really help</a>. Does anyone else have other tips or tricks they use for building stable and intricate designs?</p>
            </div>
        </div>
        <div class="symbols">
            <a><i class="fa-solid fa-heart"></i></a>  
            <a><i class="fa-solid fa-comment"></i></a>
            <a><i class="fa-solid fa-share"></i></a>
            <a><i class="fa-solid fa-paper-plane"></i></a> 
        </div>
    </div>
    
    <div class="thread-card">
        <div class="main-info">
            <div class="profile-pic">
                <img src="/imgs/lego.png" alt="profile picture"/>
            </div>
            <div class="profile-and-post">
                <div class="top-row">
                    <h3>LegoLass</h3>
                    <p>8h</p>
                </div>
                <h5>Inspired by Nature: My LEGO Bonsai</h5>
                <p>I’ve always been inspired by nature, so I decided to build a LEGO bonsai tree this weekend. It’s not an official set, but I used a mix of green pieces and some from the LEGO Flower Bouquet kit. I’d love to see if anyone else has made custom builds inspired by the natural world!</p>
                <img src="/imgs/bonsi.jpg" height="300px"/>

                </div>
        </div>
        <div class="symbols">
            <a><i class="fa-solid fa-heart"></i></a>  
            <a><i class="fa-solid fa-comment"></i></a>
            <a><i class="fa-solid fa-share"></i></a>
            <a><i class="fa-solid fa-paper-plane"></i></a> 
        </div>
    </div>
    
    <div class="thread-card">
        <div class="main-info">
            <div class="profile-pic">
                <img src="/imgs/lego.png" alt="profile picture"/>
            </div>
            <div class="profile-and-post">
                <div class="top-row">
                    <h3>StuckOnBricks</h3>
                    <p>1d</p>
                </div>
                <h5>Need Help with Motorizing My Carousel</h5>
                <p>Hello all, I’m trying to motorize the LEGO Creator Carousel, and I’m a bit stuck. I’ve got the Power Functions motor but can’t seem to get the gears to align smoothly. Has anyone here done this before and can offer some advice or photos of their setup? Any help would be greatly appreciated!</p>
            </div>
        </div>
        <div class="symbols">
            <a><i class="fa-solid fa-heart"></i></a>  
            <a><i class="fa-solid fa-comment"></i></a>
            <a><i class="fa-solid fa-share"></i></a>
            <a><i class="fa-solid fa-paper-plane"></i></a> 
        </div>
    </div>
    

</div>