@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/newsletter.css">
}

<div class="newsletter-container">
    <div class="newsletter-header">
        <h2>Aurora Takes - Your Monthly LEGO Inspiration</h2>
    </div>
    <div class="newsletter-entry">
        <h3>Building the Future, One Brick at a Time</h3>
        <p>This month, Aurora explores the possibilities of futuristic architecture with LEGO. Discover how you can build your own cyberpunk cityscape.</p>
        <img src="/imgs/futuristic-city.png" alt="Futuristic LEGO City"/>
    </div>
    <div class="newsletter-entry">
        <h3>The Art of Minifigure Customization</h3>
        <p>Learn from Aurora's tips on customizing your LEGO Minifigures to add unique characters to your creations.</p>
        <img src="/imgs/minifig-custom.jpg" alt="Custom LEGO Minifigure"/>
    </div>
    <div class="newsletter-entry">
        <h3>Iconic Movie Scenes Recreated with LEGO</h3>
        <p>Join Aurora as she recreates some of the most iconic movie scenes using LEGO. This month features a scene from 'Inception'.</p>
        <img src="/imgs/lego-movie-scene.jpg" alt="LEGO Movie Scene"/>
    </div>
    <div class="newsletter-entry">
        <h3>Mastering Mechanics with LEGO Technic</h3>
        <p>Get technical with Aurora's deep dive into the LEGO Technic world, showing you the intricacies of mechanical builds.</p>
        <img src="/imgs/lego-technic.jpg" alt="LEGO Technic"/>
    </div>
    <div class="newsletter-entry bottom">
        <h3>Community Spotlight</h3>
        <p>This month, we spotlight some of the incredible creations shared by you, our community members. Keep building and sharing!</p>
        <img src="/imgs/community-builds.jpg" alt="Community Builds"/>
    </div>
</div>