@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://www.flaticon.com/free-icons/lego" title="lego icons">Lego icons created by Freepik - Flaticon</a>
</div>

