
@{
    Layout = "/Views/Shared/_LoginSharedLayout.cshtml";
}

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/dashboard.css">
}
<div class="main row">
<div class="left-section col-md-3">
    <partial name="_ManageNav" />
</div>
<div class="right-section col-md-9">
    <div class="top-header">
        <partial name="_LoginPartial"/>
    </div>
    <div class="glass-body">
        @RenderBody()
    </div>
</div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
